// Styling for the About
.about {



	h2 {
		margin: 0;
		font-family: $font-family-base;
    font-weight: 800;
  
	}

  
  .display-font{
    color: $primary;
    font-weight: 100;
    font-family: $headings-font-family;
    font-style: italic;
  }


}


.why-section {
  .icon-box-two .icon {
    background: #E41F7A;
    border-radius: 50px;
    width: 84px;
    height: 84px;
    line-height: 84px;
    float: left;
    text-align: center;
}
.f-left {
    float: left;
}
.bg-gradient-color {
    background: linear-gradient(45deg, #c60303, $primary) !important;
}
.icon-box-two .icon-details {
  margin-left: 110px;
}
.icon-box-two:before {
  content: "";
  position: absolute;
  z-index: -1;

  margin-left: 42px;
margin-top: 42px;
  width: 82px;
  height: 82px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
}


// Video Play Button //

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: $secondary;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken($secondary, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}


@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}