/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/

 .education {
  padding-top: 100px;

  .display-font{
    color: $primary;
    font-weight: 100;
    font-family: $headings-font-family;
    font-style: italic;
  }


 .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
 
  border-radius: 20px;
 
}

// .icon-box:hover {
//   border-color: #fff;
//   transition: all ease-in-out 0.3s;
//   box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
//    .icon {
//     margin: 0 auto;
//     width: 100px;
//     height: 100px;
//     background: $primary;
//     z-index: 0;
//     border: 1px solid rgb(255, 255, 255);
//     border-radius: 50px;  
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: ease-in-out 0.3s;
//     position: relative;
  
//   }
 
//  .icon-image svg path {
//     transition: 0.5s;
//     fill: white;
//     z-index: 1;

//   }

  
// }

 .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 50px;  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

 .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

 .icon-box .icon svg {
  position: absolute;
  padding: 10px;
  top: 20px;
  left: 15px;


}



.icon-box .icon-image svg path {
  transition: 0.5s;
  fill: $primary;
  z-index: 1;
 

}


 .icon-box h4 {
  font-weight: 800;
  margin: 10px 0 15px 0;
  font-size: 22px;
  font-family: $font-family-base;
}





 }
