/*--------------------------------------------------------------
# Films
--------------------------------------------------------------*/
.films {

	position: relative;
	width: 100%;
	background: linear-gradient(to bottom, #{fade-out( rgb(255, 0, 0), .1)} 
	0%,#{fade-out(rgba(214, 15, 15, 0.9), .2)} 100%), url('../images/hero-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}