// Global styling for this template
body,
html {

}

// Typography
.text-white-75 {
	color: fade-out($white, .25);
}

// Custom horizontal rules
hr.divider {
	max-width: 3.25rem;
	border-width: 0.2rem;
	border-color: $primary;
}

hr.light {
	border-color: $white;
}

// Button restyling
.btn {
	font-family: $font-family-sans-serif;
}

.btn-xl {
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}

.section-bg {
	background-color: rgba(245, 242, 242, 0.824);
}

.btn-outline {
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid white;
	border-radius: 10rem;
	color: white;
	&:hover {
		background-color: white;
	}

}

// Page section padding
.page-section {
	padding: 8rem 0;
}

.section-heading{
text-align: center;
margin-bottom: 40px;

h1{
	font-weight: 800;
}


h5{
	font-weight: 100;
}

}

// Modal
.modal-backdrop {
	background-color: #0b0b0b;
}

.modal-backdrop.show {
	opacity: 0.8;
}


