// Global styling for this template


// Custom horizontal rules
hr.divider {
	width: 3.25rem;
	border-width: 0.3rem;
	border-radius: 40px;
	border-color: $primary;
}

hr.light {
	border-color: $white;
}

// Button restyling
.btn {
	font-family: $font-family-sans-serif;
}

.btn-xl {
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	color: white;
	border-radius: 10rem;
	background-color: $primary;
	&:hover {
		background-color: $secondary;
	
		color: white;
	}
}

.btn-outline {
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid $primary;
	border-radius: 10rem;
	color: black;
	transition: ease-in-out 0.3s;
	background: transparent;
	&:hover {
		background-color: $secondary;
		border: 2px solid $secondary;
		color: white;
		transition: ease-in-out 0.3s;
	}

}



// Page section padding
.page-section {
	padding: 8rem 0;
}
.section-bg {
	background-color: rgba(245, 242, 242, 0.824);
}


.section-heading{
text-align: center;
margin-bottom: 40px;

 h4 {
	font-weight: 800;
	font-family: $font-family-base;
	color: $gray-800;
}


h5{
	font-weight: 800;
}

}

// Modal
.modal-backdrop {
	background-color: #0b0b0b;
}

.modal-backdrop.show {
	opacity: 0.8;
}


